@{
    ViewData["Title"] = "Acerca de este proyecto";
    ViewData["Message"] = "Sitio web para ordenar paquetes turísticos en Costa Rica,"
    + " mediante la conexión de varias bases de datos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Bases de datos II, TEC.</p>
