@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>

<address>
    San José<br />
    Costa Rica<br />
    <abbr title="Phone">P:</abbr>
    85635561
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Mercadeo:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
