@model Login_Neo4j.Models.User

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Login</title>

        <style>
            #LoginForm {
                display: table;
                margin: 0 auto;
                margin-top: 100px;
            }

            #idName {
                margin-top: 10px;
            }

            #Register {
                margin-top: 10px;
            }

            #Submit {
                margin-top: 10px;
                margin-left: 30px;
            }

            #txtPassword {
                margin-top: 10px;
            }
        </style>
    </head>
    <body>
        <div id="LoginForm">
            @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
            {
                <table>
                    <tr>
                        <td></td>
                        <td style="text-decoration:solid"> <h3> Ingresar datos </h3></td>
                    </tr>

                    <tr>
                        <td><b>Usuario:</b></td>
                        <td>@Html.EditorFor(model => model.UserName)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.ValidationMessageFor(model => model.UserName)</td>
                    </tr>
                    <tr>
                        <td><b>Contaseña:</b></td>
                        <td>@Html.EditorFor(model => model.Password)</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>@Html.ValidationMessageFor(model => model.UserName)</td>
                    </tr>

                    <tr>
                        <td><input type="submit" id="Login" name="Ingresar" value="Login" /></td>
                        <td><input type="reset" id="Submit" name="Limpiar" value="Ingresar" /></td>

                    </tr>
                </table>
            }

        </div>
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>

    </body>
</html>

