@model TurismoCR.Models.Service;

@{
    ViewData["Title"] = "Agregar paquete turístico";
}

<h2>@ViewData["Title"]</h2>

<form method="post" enctype="multipart/form-data" asp-controller="Service" asp-action="AddServicePost">
	<h4>Ingrese los datos del paquete turístico a registrar</h4>
    <hr/>
	@* Service Name *@
    <div class="form-group row">
	    <label class="col-sm-2 col-form-label" for="serviceName">Nombre</label>
        <div class="col-sm-3">
		    <input class="form-control" id="serviceName" type="text" name="serviceName"/>
        </div>
	</div>
	@* Service Description *@
    <div class="form-group row">
		<label class="col-sm-2 col-form-label" for="serviceDescription">Descripción</label>
        <div class="col-sm-3">
		    <input class="form-control" id="serviceDescription" type="text" name="serviceDescription"/>
        </div>
	</div>
    @* Service Category *@
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="serviceCategory">Categoría</label>
        <div class="col-sm-3">
            <select class="form-control" id="serviceCategory" name="serviceCategory">
                <option value="Playa">Playa</option>
                <option value="Montaña">Montaña</option>
                <option value="Hotel">Hotel</option>
                <option value="Bosque">Bosque</option>
                <option value="Parque">Parque</option>
                <option value="Museo">Museo</option>
            </select>
        </div>
    </div>
	@* Service Province *@
    <div class="form-group row">
		<label class="col-sm-2 col-form-label" for="serviceProvince">Provincia</label>
        <div class="col-sm-3">
			<input class="form-control" id="serviceProvince" type="text" name="serviceProvince"/>
        </div>
	</div>
	@* Service Canton *@
    <div class="form-group row">
    	<label class="col-sm-2 col-form-label" for="serviceCanton">Cantón</label>
        <div class="col-sm-3">
			<input class="form-control" id="serviceCanton" type="text" name="serviceCanton"/>
        </div>
	</div>
    @* Service District *@
    <div class="form-group row">
		<label class="col-sm-2 col-form-label" for="serviceDistrict">Distrito</label>
        <div class="col-sm-3">
			<input class="form-control" id="serviceDistrict" type="text" name="serviceDistrict"/>
        </div>
	</div>
	@* Service Latitude *@
    <div class="form-group row">
		<label class="col-sm-2 col-form-label" for="serviceLatitude">Latitud</label>
        <div class="col-sm-3">
			<input class="form-control" id="serviceLatitude" type="text" name="serviceLatitude"/>
        </div>
	</div>
	@* Service Longitude *@
    <div class="form-group row">
		<label class="col-sm-2 col-form-label" for="serviceLongitude">Longitud</label>
        <div class="col-sm-3">
			<input class="form-control" id="serviceLongitude" type="text" name="serviceLongitude"/>
        </div>
	</div>
	@* Service StartDate *@
    <div class="form-group row">
		<label class="col-sm-2 col-form-label" for="selectServiceStartDate">Fecha de inicio</label>
        <div class="col-sm-3">
		    <input class="form-control" id= "selectServiceStartDate" type="text" name="selectServiceStartDate"/>
        </div>
	</div>
	@* Service EndDate *@
    <div class="form-group row">
		<label class="col-sm-2 col-form-label" for="selectServiceEndDate">Fecha de finalización</label>
        <div class="col-sm-3">
			<input class="form-control" id="selectServiceEndDate" type="text" name="selectServiceEndDate"/>
        </div>
	</div>
	@* Service Price *@
    <div class="form-group row">
		<label class="col-sm-2 col-form-label" for="servicePrice">Precio</label>
        <div class="col-sm-3">
			<input class="form-control" id="servicePrice" type="text" name="servicePrice"/>
        </div>
	</div>
	@* Service Enabled *@
	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="serviceEnabled">Estado</label>
        <div class="col-sm-3">
			<select class="form-control" id="serviceEnabled" name="serviceEnabled">
			    <option value="false">Desactivado</option>
				<option value="true">Activado</option>
            </select>
		</div>
    </div>
	@* Service Picture *@
	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="pictureFile">Imagen</label>
        <div class="col-sm-4">
			<input class="form-control" type="file" id="pictureFile" name="pictureFile"/>
        </div>
    </div>
	<br>
	@* Add Btn *@
    <div class="form-group row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Agregar" class="btn btn-success" />
        </div>
    </div>
</form>
