@model TurismoCR.Models.Servicio;

@{
    ViewData["Title"] = "Buscar servicio";
}

<h2>@ViewData["Title"]</h2>

@* FORM *@
<div class="form-horizontal">
    <h4>Seleccione la categoría del tipo de paquete turístico deseado</h4>
    <hr />
    <div class="form-group">
        <div class="control-label col-md-2">
            @Html.Label("Categorías:")
        </div>
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.Descripcion, 
                new List<SelectListItem>
                {   new SelectListItem{Text="C1", Value="1"},
                    new SelectListItem{Text="C2", Value="2"}
                }
            )
        </div>
    </div>
    @* Search Btn *@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ver paquete" class="btn btn-success" />
        </div>
    </div>
</div>

@* TODO display packages *@
