@model TurismoCR.Models.Servicio;

@{
    ViewData["Title"] = "Editar servicio";
}

<h2>@ViewData["Title"]</h2>

 @* FORM *@
<div class="form-horizontal">
    <h4>Seleccione y edite el servicio deseado</h4>
    <hr />
    <div class="form-group">
		<div class="control-label col-md-2">
			@Html.Label("Servicios:")
        </div>
        <div class="col-md-3">
			@Html.DropDownListFor(model => model.Descripcion, 
			    new List<SelectListItem>
                {   new SelectListItem{Text="S1", Value="1"},
                    new SelectListItem{Text="S2", Value="2"}
			    }
			)
        </div>
    </div>
</div>